.about_me {
  width: 100%;
  max-width: 1020px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;
  padding: 40px 0;
}

.text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  color: #aaa;
}

.text p {
  font-size: 25px;
  margin-bottom: 1rem;
}

.self_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#other_self {
  width: 300px;
  max-width: 90vw;
  border-radius: 20px;
  transform: rotate(8deg);
  box-shadow: 0 8px 32px #0005;
  border: solid 3px #aaa
}

/* Responsive for mobile */
@media (max-width: 800px) {
  .about_me {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
  }
  .self_container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #other_self {
    margin-top: 30px;
    width: 70vw;
    max-width: 350px;
    transform: rotate(5deg);
  }

  .text p {
    font-size: 20px;
  }
}